:root{
    /*
    Color palette
    */
    --blue-1 : #202D36;
    --blue-2 : #5C7896;
    --blue-3 : #7598B9;
    --red-1 : #3C0007;
    --red-2 : #800C1F;
    --gray-1 : #929CAA;
    --yellow-1 : #FFF200;
}